<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Conta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header class="topo">
    <div class="logo">
        <i class="fas fa-paw"></i> Totó
    </div>
    </header>

    <main class="form-container">
        <form class="form-box" action="{{ url_for('registrar') }}" method="post">

            <h2>Crie sua conta</h2>

            <!-- Nome -->
            <label>Nome e sobrenome</label>
            <input type="text" name="nome" placeholder="Digite seu nome e sobrenome" required>

            <!-- E-mail -->
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" required>

            <!-- Celular -->
            <label>Celular</label>
            <input type="text" name="celular" placeholder="DDD + Celular" required maxlength="11" inputmode="numeric">


            <!-- Data de nascimento -->
            <label>Data de nascimento </label>
            <input type="date" name="data_nascimento">

            <!-- CPF -->
            <label>CPF</label>
            <input type="text" name="cpf" placeholder="Digite o seu CPF" required maxlength="11" inputmode="numeric">


            <!-- Senhas -->
            <div class="senha-group">
                <div>
                    <label>Senha</label>
                    <input type="password" name="senha" placeholder="Digite sua senha" required minlength="8" maxlength="8">
                    <input type="password" name="confirmar_senha" placeholder="Confirme sua senha" required minlength="8" maxlength="8">
                </div>

            </div>  

            <!-- Regras de senha -->
            <div class="senha-regras">
            <p>Padrão de Senha</p>
                <ul>
                    <li>Máximo 8 caracteres</li>
                </ul>
            </div>

            <!-- Botão -->  
             <button class="btn-cadastrar">Cadastrar</button>

        </form>
    </main>

    <script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>

</body>
</html>
