<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	
	<!-- Estilo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

	<title>Totó Pet Shop</title>
</head>
<body>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="home.html" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Totó</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="home.html">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Menu</span>
				</a>
			</li>
			<li>
				<a href="servicos.html">
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Serviços</span>
				</a>
			</li>
			<li>
				<a href="vacinacoes.html">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">Vacinações</span>
				</a>
			</li>
			<li>
				<a href="cadastro.html">
					<i class='bx bxs-group'></i>
					<span class="text">Cadastro</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- FIM SIDEBAR -->


	<!-- CONTEÚDO PRINCIPAL -->
	<section id="content">

		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
		</nav>
		<!-- FIM NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Menu</h1>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Serviços recentes</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Usuário</th>
								<th>Data do Pedido</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="#" alt="Foto do usuário">
									<p>Admin</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completo</span></td>
							</tr>
							<tr>
								<td>
									<img src="#" alt="Foto do usuário">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pendente</span></td>
							</tr>
							<tr>
								<td>
									<img src="#" alt="Foto do usuário">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pendente</span></td>
							</tr>
							<tr>
								<td>
									<img src="#" alt="Foto do usuário">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completo</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- FIM MAIN -->

	</section>
	<!-- FIM CONTEÚDO PRINCIPAL -->

	<script src="homescript.js"></script>
</body>
</html>
